<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <form action="/index" method="post">
        <h1>What is the data form you want?</h1>
        <p>
            <select name='data_form'>
                <option value='map'>map</option>
                <option value='rank'>rank</option>
                <option value='percent'>percent</option>
                <!-- <option value='comparison'>comparison</option> -->
            </select>
        </p>
        <input type="submit" value="Submit Form">

    </form>
</body>

</html>