<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Data Type</title>
</head>

<body>
    <!-- <h1>Enter a 'state' that you want to know (race, vaccination, covid-19 case).</h1> -->

    <form action="/percent" method="post">

        <h1>What is the state information you want to gain?</h1>
        <input type="text" name="state_name">
        <h2>When the state will achieve this. (filling the percent. e.g. 0.5) </h2>
        <input type="text" name="percent_amount">

        <h1>What is the data you want?</h1>
        <p>
            <select name='data_type'>
                <option value='positive_case'>positive case</option>
                <option value='vaccination'>vaccination</option>
            </select>
        </p>


        <input type="submit" value="Submit Form">

    </form>
</body>

</html>