<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>race_rank</title>
</head>

<body>
    <form action="/race_r" method="post">
        <h1>What is the state information you want to gain?</h1>
        <input type="text" name="state_name">

        <h1>Choose a race or total </h1>
        <h1>(It will show the map about the race amount in all state)</h1>
        <p>
            <select name='race_category'>
                <option value='Total'>Total</option>
                <option value='White'>White</option>
                <option value='Black'>Black</option>
                <option value='Indian'>Indian</option>
                <option value='Asian'>Asian</option>
                <option value='Hawaiian'>Hawaiian</option>
                <option value='Other'>Other</option>
            </select>
        </p>
        <input type="submit" value="Submit Form">

    </form>
</body>

</html>